<!doctype html>
<head>
<title>InnoVentum Giraffe 2.0 Malmö</title>
<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>
$(document).ready(function(){
    var doAjaxCall = function(){
        $.ajax({url: "/data", success: function(result){
                var list = "<ul>";
		$.each(result, recurse);
		function recurse(key, val) {
		    list += "<li>";
		    if (val instanceof Object) {
		        list += key + "<ul>";
		        $.each(val, recurse);
		        list += "</ul>";
		    } else {
		        list += "<p>" + key + ":" +  val + "</p>";
		    }
		    list += "</li>";
		}
		list += "</ul>";
		$("#container").html(list);

	}});
    }
    setInterval(doAjaxCall,1000);
});
</script>
</head>
<body>
<div id="container"></div>
</body>
</html>
